{% extends "layout.html" %}
{% block content %}
		<div class="login example1">
		<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="logo">Tron Logistics
			</div>
			
			<!-- start: REGISTER BOX -->
			<div class="box-login">
				<h3>Sign Up</h3>
				<p>
					Enter your personal details below:
				</p>
				{#<form class="form-register">#}
					<form name="forgot_register" action="" method="post" class="form-register">
					{{ register_form.hidden_tag() }}
					<div class="errorHandler alert alert-danger no-display">
						<i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
					</div>
					<fieldset>
						<div class="form-group">
							{{ register_form.name(class="form-control", placeholder="Full Name") }}
						</div>
						<div class="form-group">
							{{ register_form.company_name(class="form-control", placeholder="Company Name") }}
						</div>
						<div class="form-group">
							{{ register_form.address(class="form-control", placeholder="Street Address") }}
						</div>
						<div class="form-group">
							{{ register_form.city(class="form-control", placeholder="City") }}
						</div>
						<div class="form-group">
							{{ register_form.state(class="form-control", placeholder="State") }}
						</div>
						<div class="form-group">
							{{ register_form.postal_code(class="form-control", placeholder="Zip Code") }}
						</div>
						<p>
							Enter your account details below:
						</p>
						<div class="form-group">
							<span class="input-icon">
								{{ register_form.email(class="form-control", placeholder="Email") }}
								<i class="fa fa-envelope"></i> </span>
						</div>
						<div class="form-group">
							<span class="input-icon">
								{{ register_form.password(class="form-control", placeholder="Password") }}
								<i class="fa fa-lock"></i> </span>
						</div>
						<div class="form-group">
							<span class="input-icon">
								{{ register_form.confirm(class="form-control", placeholder="Confirm Password") }}
								<i class="fa fa-lock"></i> </span>
						</div>
						<div class="form-group">
							<div>
								<label for="agree" class="checkbox-inline">
									<input type="checkbox" class="grey agree" id="agree" name="agree">
									I agree to the Terms of Service and Privacy Policy
								</label>
							</div>
						</div>
						<div class="form-actions">
							<a href="?box=login" class="btn btn-light-grey go-back">
								<i class="fa fa-circle-arrow-left"></i> Back
							</a>
							<button type="submit" class="btn btn-bricky pull-right">
								Submit <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end: REGISTER BOX -->
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				2014 &copy; clip-one by cliptheme.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
	</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ static('plugins/respond.min.js') }}"></script>
		<script src="{{ static('plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ static('plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ static('plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ static('plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ static('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ static('plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ static('plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ static('plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ static('plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ static('plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ static('plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ static('plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ static('plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ static('js/main.js') }}"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="{{ static('plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
		<script src="{{ static('js/login.js') }}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
			});
		</script>

{% endblock %}