{% extends "layout.html" %}

{% block content %}
<form name="create" action="" role="form" class="form-horizontal" id="form" method="post">
	{{ form.hidden_tag() }}
	<div id="form-container">
		<!-- start: PAGE CONTENT -->
		
		<div class="col-sm-12">
			{% for location in form.locations %}
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-external-link-square"></i>
							Location #{{ loop.index }} - {{ location.stop_type.data }} {{ location.stop_type(style="display:none;")}}
						</div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Address <span class="symbol required"></span>
												{% for error in location.address1.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.address1(class="form-control", placeholder="Street Address") }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												City <span class="symbol required"></span>
												{% for error in location.city.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.city(class="form-control", placeholder="City") }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												State <span class="symbol required"></span>
												{% for error in location.state.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.state(class="form-control", placeholder="State") }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Zip Code <span class="symbol required"></span>
												{% for error in location.postal_code.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.postal_code(class="form-control", placeholder="Zip Code") }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Arrival Date <span class="symbol required"></span>
												{% for error in location.arrival_date.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">

												<input type="text" id="locations-{{ loop.index - 1}}-arrival_date" name="locations-{{ loop.index - 1}}-arrival_date" data-date-format="mm/dd/yyyy" data-date-viewmode="years" class="form-control date-picker" value="{{ location.arrival_date.data }}">
											</div>
										</div>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Contact Name <span class="symbol required"></span>
												{% for error in location.contact_name.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.contact_name(class="form-control", placeholder="Name") }}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Contact Phone <span class="symbol required"></span>
												{% for error in location.contact_phone.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.contact_phone(class="form-control input-mask-phone", placeholder="Phone") }}
											</div>
										</div>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Notes <span class="symbol required"></span>
												{% for error in location.notes.errors %}
													<br><span style="color: red;">{{ error }}</span>
												{% endfor %}
											</label>
											<div class="col-sm-7">
												{{ location.notes(class="form-control", placeholder="Notes") }}
											</div>
										</div>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-sm-3">
										<h3>BOL's</h3>
									</div>
									<div class="col-sm-9">
										{% if location.stop_type.data == "Pickup" %}
											<button class="btn btn-primary add_pickup_button" id="{{ loop.index - 1 }}">Add BOL</button>
										{% else %}
											<button class="btn btn-primary add_dropoff_button" id="{{ loop.index - 1 }}">Add BOL</button>
										{% endif %}
									</div>
								</div>
								<div id="wrapper-{{ loop.index - 1 }}">
									{% set outer_loop = loop %}
									{% for bol in location.BOLs %}
										<div class="row bol-{{ outer_loop.index - 1 }}-info">
											{% if location.stop_type.data == "Pickup" %}

												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															BOL # <span class="symbol required"></span>
															{% for error in bol.bol_number.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.bol_number(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															# Units <span class="symbol required"></span>
															{% for error in bol.number_units.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.number_units(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Weight <span class="symbol required"></span>
															{% for error in bol.weight.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.weight(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Commodity Type <span class="symbol required"></span>
															{% for error in bol.commodity_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.commodity_type(class="form-control") }}
														</div>
													</div>
													
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Length <span class="symbol required"></span>
															{% for error in bol.dim_length.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_length_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_length(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_length_type(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Width <span class="symbol required"></span>
															{% for error in bol.dim_width.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_width_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_width(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_width_type(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Height <span class="symbol required"></span>
															{% for error in bol.dim_height.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_height_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_height(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_height_type(class="form-control") }}
														</div>
													</div>
												</div>
											{% else %}
												<div class="col-sm-12">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															BOL # <span class="symbol required"></span>
															{% for error in bol.bol_number.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.bol_number(class="form-control") }}
														</div>
													</div>
													<div class="form-group" style="display: none;">
														<label class="col-sm-3 control-label">
															# Units <span class="symbol required"></span>
															{% for error in bol.number_units.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.number_units(class="form-control") }}
														</div>
													</div>
													<div class="form-group" style="display: none;">
														<label class="col-sm-3 control-label">
															Weight <span class="symbol required"></span>
															{% for error in bol.weight.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.weight(class="form-control") }}
														</div>
													</div>
													<div class="form-group" style="display: none;">
														<label class="col-sm-3 control-label">
															Commodity Type <span class="symbol required"></span>
															{% for error in bol.commodity_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-7">
															{{ bol.commodity_type(class="form-control") }}
														</div>
													</div>
													
												</div>
												<div class="col-sm-12" style="display: none;">
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Length <span class="symbol required"></span>
															{% for error in bol.dim_length.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_length_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_length(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_length_type(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Width <span class="symbol required"></span>
															{% for error in bol.dim_width.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_width_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_width(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_width_type(class="form-control") }}
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Height <span class="symbol required"></span>
															{% for error in bol.dim_height.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
															{% for error in bol.dim_height_type.errors %}
																<br><span style="color: red;">{{ error }}</span>
															{% endfor %}
														</label>
														<div class="col-sm-3">
															{{ bol.dim_height(class="form-control") }}
														</div>
														<div class="col-sm-4">
															{{ bol.dim_height_type(class="form-control") }}
														</div>
													</div>
												</div>
											{% endif %}
										</div>
									{% else %}
										<div class="row bol-{{ outer_loop.index - 1 }}-info">
											{% if location.stop_type.data == "Pickup" %}

												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															BOL # <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-bol_number" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-bol_number" class="form-control" value="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															# Units <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-number_units" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-number_units" class="form-control" value="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Weight <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-weight" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-weight" class="form-control" value="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Commodity Type <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-commodity_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-commodity_type" class="form-control" value="">
														</div>
													</div>
													
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Length <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Width <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-4 control-label">
															Height <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
												</div>
											{% else %}
												<div class="col-sm-12">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															BOL # <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-bol_number" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-bol_number" class="form-control" value="">
														</div>
													</div>
														<div class="form-group" style="display:none;">
														<label class="col-sm-3 control-label">
															# Units <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-number_units" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-number_units" class="form-control" value="">
														</div>
													</div>
													<div class="form-group" style="display:none;">
														<label class="col-sm-3 control-label">
															Weight <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-weight" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-weight" class="form-control" value="">
														</div>
													</div>
													<div class="form-group" style="display:none;">
														<label class="col-sm-3 control-label">
															Commodity Type <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-commodity_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-commodity_type" class="form-control" value="">
														</div>
													</div>
													<div class="form-group" style="display:none;">
														<label class="col-sm-4 control-label">
															Length <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_length_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
													<div class="form-group" style="display:none;">
														<label class="col-sm-4 control-label">
															Width <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_width_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
													<div class="form-group" style="display:none;">
														<label class="col-sm-4 control-label">
															Height <span class="symbol required"></span>
														</label>
														<div class="col-sm-3">
															<input type="text" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height" class="form-control" value="">
														</div>
														<div class="col-sm-4">
															<select class="form-control" id="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height_type" name="locations-{{ outer_loop.index - 1 }}-BOLs-0-dim_height_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
														</div>
													</div>
												</div>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			
			<hr>
				<div class="form-group">
					<div class="col-sm-2 col-sm-offset-3">
						<button class="btn btn-light-grey back-step btn-block">
							<i class="fa fa-circle-arrow-left"></i> Back
						</button>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
						<button type="submit" class="btn btn-success btn-block">
							Finish <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

<script src="{{ static('backend/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ static('backend/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/DataTables/media/js/DT_bootstrap.js') }}"></script>
		<script src="{{ static('backend/js/table-data2.js') }}"></script>
		<script>
		$( document ).on( "focus", "input.date-picker", function() {
				$('.date-picker').datepicker({
			            autoclose: true,
			            format: "mm/dd/yyyy",
						minDate: 0
			        });
			});
		    $(".add_pickup_button").click(function(e){ //on add input button click
		        e.preventDefault();
		        var curID = $(".bol-"+e.target.id+"-info").length;
		        $('#wrapper-'+e.target.id).append('<hr \/><div class=\"row bol-' + e.target.id + '-info\">'+
													'<div class=\"col-sm-6\">' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-3 control-label\">' +
													'			BOL # <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-7\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-bol_number\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-bol_number\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'	<\/div>' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-3 control-label\">' +
													'			# Units <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-7\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-number_units\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-number_units\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'	<\/div>' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-3 control-label\">' +
													'			Weight <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-7\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-weight\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-weight\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'	<\/div>' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-3 control-label\">' +
													'			Commodity Type <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-7\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-commodity_type\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-commodity_type\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'	<\/div>	' +
													'<\/div>' +
													'<div class=\"col-sm-6\">' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-4 control-label\">' +
													'			Length <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-3\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_length\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_length\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'		<div class=\"col-sm-4\">' +
													'			<select class=\"form-control\" id="locations-' + e.target.id + '-BOLs-' + curID + '-dim_length_type\" name="locations-' + e.target.id + '-BOLs-' + curID + '-dim_length_type\"><option value=\"\">&lt;none selected&gt;<\/option><option value=\"Inches\">in.<\/option><option value=\"Centimeters\">cm.<\/option><\/select>' +
													'		<\/div>' +
													'	<\/div>' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-4 control-label\">' +
													'			Width <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-3\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_width\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_width\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'		<div class=\"col-sm-4\">' +
													'			<select class=\"form-control\" id="locations-' + e.target.id + '-BOLs-' + curID + '-dim_width_type\" name="locations-' + e.target.id + '-BOLs-' + curID + '-dim_width_type\"><option value=\"\">&lt;none selected&gt;<\/option><option value=\"Inches\">in.<\/option><option value=\"Centimeters\">cm.<\/option><\/select>' +
													'		<\/div>' +
													'	<\/div>' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-4 control-label\">' +
													'			Height <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-3\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_height\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-dim_height\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'		<div class=\"col-sm-4\">' +
													'			<select class=\"form-control\" id="locations-' + e.target.id + '-BOLs-' + curID + '-dim_height_type\" name="locations-' + e.target.id + '-BOLs-' + curID + '-dim_height_type\"><option value=\"\">&lt;none selected&gt;<\/option><option value=\"Inches\">in.<\/option><option value=\"Centimeters\">cm.<\/option><\/select>' +
													'		<\/div>' +
													'	<\/div>' +
													'<\/div>' +
													'<\/div>');
		        });

				$(".add_dropoff_button").click(function(e){ //on add input button click
		        e.preventDefault();
		        var curID = $(".bol-"+e.target.id+"-info").length;
		        $('#wrapper-'+e.target.id).append('<div class=\"row bol-' + e.target.id + '-info\">'+
													'<div class=\"col-sm-12\">' +
													'	<div class=\"form-group\">' +
													'		<label class=\"col-sm-3 control-label\">' +
													'			BOL # <span class=\"symbol required\"><\/span>' +
													'		<\/label>' +
													'		<div class=\"col-sm-7\">' +
													'			<input type=\"text\" id=\"locations-' + e.target.id + '-BOLs-' + curID + '-bol_number\" name=\"locations-' + e.target.id + '-BOLs-' + curID + '-bol_number\" class=\"form-control\" value=\"\">' +
													'		<\/div>' +
													'	<\/div>' +
													'<\/div>');
		        });

		</script>
				{% endblock %}
