{% extends "layout.html" %}

{% block content %}

    {#<div class="row-fluid">
            <div class="btn-toolbar">
                Actions: &nbsp;&nbsp;<a href="{{ url_for('loads.create') }}" class="btn btn-primary">New Load</a>
            </div>
    </div>#}

    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <i class="clip-pie"></i>
            Load Board
        </div>-->
            {% include 'partials/load_board.html' %}
    <!--</div>-->
            {% endblock %}