<h4>BOL #1</h4>
									<hr />
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-sm-3 control-label">
												BOL # <span class="symbol required"></span>
											</label>
											<div class="col-sm-7">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-bol_number" name="locations-__LOC_INDEX__-BOLs-0-bol_number" class="form-control" value="">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												# Units <span class="symbol required"></span>
											</label>
											<div class="col-sm-7">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-number_units" name="locations-__LOC_INDEX__-BOLs-0-number_units" class="form-control" value="">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Weight <span class="symbol required"></span>
											</label>
											<div class="col-sm-7">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-weight" name="locations-__LOC_INDEX__-BOLs-0-weight" class="form-control" value="">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">
												Commodity Type <span class="symbol required"></span>
											</label>
											<div class="col-sm-7">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-commodity_type" name="locations-__LOC_INDEX__-BOLs-0-commodity_type" class="form-control" value="">
											</div>
										</div>
										
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">
												Length <span class="symbol required"></span>
											</label>
											<div class="col-sm-3">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-dim_length" name="locations-__LOC_INDEX__-BOLs-0-dim_length" class="form-control" value="">
											</div>
											<div class="col-sm-4">
												<select class="form-control" id="locations-__LOC_INDEX__-BOLs-0-dim_length_type" name="locations-__LOC_INDEX__-BOLs-0-dim_length_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label">
												Width <span class="symbol required"></span>
											</label>
											<div class="col-sm-3">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-dim_width" name="locations-__LOC_INDEX__-BOLs-0-dim_width" class="form-control" value="">
											</div>
											<div class="col-sm-4">
												<select class="form-control" id="locations-__LOC_INDEX__-BOLs-0-dim_width_type" name="locations-__LOC_INDEX__-BOLs-0-dim_width_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label">
												Height <span class="symbol required"></span>
											</label>
											<div class="col-sm-3">
												<input type="text" id="locations-__LOC_INDEX__-BOLs-0-dim_height" name="locations-__LOC_INDEX__-BOLs-0-dim_height" class="form-control" value="">
											</div>
											<div class="col-sm-4">
												<select class="form-control" id="locations-__LOC_INDEX__-BOLs-0-dim_height_type" name="locations-__LOC_INDEX__-BOLs-0-dim_height_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
											</div>
										</div>
									</div>