{% extends "layout.html" %}

{% block content %}

<form name="create" role="form" action="" method="post" class="form-horizontal" id="form">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col-sm-6">
			<!-- start: TEXT FIELDS PANEL -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					Origin
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Street Address
						</label>
						<div class="col-sm-9">
							{{ form.origin_address1(size=50, placeholder="Street Address", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							City
						</label>
						<div class="col-sm-9">
							{{ form.origin_city(size=50, placeholder="City", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							State
						</label>
						<div class="col-sm-9">
							{{ form.origin_state(size=50, placeholder="State", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Zip Code
						</label>
						<div class="col-sm-9">
							{{ form.origin_postal_code(size=50, placeholder="Zip Code", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Pickup Date
						</label>
						<div class="col-sm-9">
							{{ form.pickup_date() }}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Contact Name
						</label>
						<div class="col-sm-9">
							{{ form.origin_contact_name() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Contact Email
						</label>
						<div class="col-sm-9">
							{{ form.origin_contact_email() }}
						</div>
					</div>
					<div class="control-group">
		            	<label class="col-sm-3 control-label" for="origin_address1">
							Contact Phone
						</label>
		            	<div class="col-sm-9">
		               		+1 ({{ form.origin_contact_phone_area_code(size=3, class='input-mini') }})-{{ form.origin_contact_phone_prefix(size=3, class='input-mini') }}-{{ form.origin_contact_phone_line_number(size=4, class='input-mini') }}
		            	</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <div class="col-sm-6">
			<!-- start: TEXT FIELDS PANEL -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					Origin
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Street Address
						</label>
						<div class="col-sm-9">
							{{ form.destination_address1(size=50, placeholder="Street Address", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							City
						</label>
						<div class="col-sm-9">
							{{ form.destination_city(size=50, placeholder="City", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							State
						</label>
						<div class="col-sm-9">
							{{ form.destination_state(size=50, placeholder="State", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Zip Code
						</label>
						<div class="col-sm-9">
							{{ form.destination_postal_code(size=50, placeholder="Zip Code", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Delivery Date
						</label>
						<div class="col-sm-9">
							{{ form.delivery_date() }}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Contact Name
						</label>
						<div class="col-sm-9">
							{{ form.destination_contact_name() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Contact Email
						</label>
						<div class="col-sm-9">
							{{ form.destination_contact_email() }}
						</div>
					</div>
					<div class="control-group">
		            	<label class="col-sm-3 control-label" for="origin_address1">
							Contact Phone
						</label>
		            	<div class="col-sm-9">
		               		+1 ({{ form.destination_contact_phone_area_code(size=3, class='input-mini') }})-{{ form.destination_contact_phone_prefix(size=3, class='input-mini') }}-{{ form.destination_contact_phone_line_number(size=4, class='input-mini') }}
		            	</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!-- start: TEXT FIELDS PANEL -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					Load Details
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Description
						</label>
						<div class="col-sm-9">
							{{ form.description(size=250, placeholder="Description", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Purchase Order
						</label>
						<div class="col-sm-9">
							{{ form.purchase_order(placeholder="Purchase Order", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Over Dimensional?
						</label>
						<div class="col-sm-9">
							{{ form.over_dimensional() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Weight
						</label>
						<div class="col-sm-9">
							{{ form.weight(size=50, placeholder="Weight", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Length
						</label>
						<div class="col-sm-9">
							{{ form.dim_length() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Width
						</label>
						<div class="col-sm-9">
							{{ form.dim_width() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Height
						</label>
						<div class="col-sm-9">
							{{ form.dim_height() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Number of Pieces
						</label>
						<div class="col-sm-9">
							{{ form.number_pieces() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Comments
						</label>
						<div class="col-sm-9">
							{{ form.comments() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Trailer Type
						</label>
						<div class="col-sm-9">
							{{ form.trailer_type() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Load Type
						</label>
						<div class="col-sm-9">
							{{ form.load_type() }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Total Miles
						</label>
						<div class="col-sm-9">
							{{ form.total_miles() }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Total Price
						</label>
						<div class="col-sm-9">
							{{ form.price() }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button class="btn btn-light-grey back-step btn-block">
								<i class="fa fa-circle-arrow-left"></i> Cancel
							</button>
						</div>
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" class="btn btn-blue next-step btn-block">
								Submit <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>
	
</form>
				
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script type="text/javascript">
		// When the document is ready
		$(document).ready(function () {
			$('#pickup_date').datepicker({
				format: "mm/dd/yyyy",
				minDate: 0
			});
		});
	</script>

	<script type="text/javascript">
		// When the document is ready
		$(document).ready(function () {
			$('#delivery_date').datepicker({
				format: "mm/dd/yyyy",
				minDate: 0
			});
		});
	</script>

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

	



{% endblock %}