{% extends "layout.html" %}

{% block content %}
<form name="edit" action="" method="post" class="form-horizontal">
	{{ form.hidden_tag() }}
	<div class="container-fluid" id="container">
		<div class="row-fluid">
		    <div class="span12">
		    	<div class="row-fluid">
		    		<div class="span6">
		        		<div class="box">
		            		<div class="box-title">
		                		Origin
		            		</div>
		            		<div class="box-content nopadding">
			                	<div class="form-horizontal">
			                    	<div class="control-group">
			                        	<label class="control-label">Address 1</label>
			                        	<div class="controls">
			                           		{{ form.origin_address1(size=50) }}
			                           		{% for error in form.origin_address1.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
	                                        <!--<span class="help-inline">Description goes here</span>-->
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Address 2</label>
			                        	<div class="controls">
			                           		{{ form.origin_address2(size=50) }}
	                                        {% for error in form.origin_address2.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">City</label>
			                        	<div class="controls">
			                           		{{ form.origin_city(size=50) }}
	                                        {% for error in form.origin_city.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">State</label>
			                        	<div class="controls">
			                           		{{ form.origin_state(size=50) }}
	                                        {% for error in form.origin_state.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Zip</label>
			                        	<div class="controls">
			                           		{{ form.origin_postal_code(size=10) }}
	                                        {% for error in form.origin_postal_code.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group" id="datetimepicker1">
			                        	<label class="control-label">Pickup Date</label>
			                        	<div class="controls">
			                           		{{ form.pickup_date() }}
	                                        {% for error in form.pickup_date.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Name</label>
			                        	<div class="controls">
			                           		{{ form.origin_contact_name() }}
	                                        {% for error in form.origin_contact_name.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Email</label>
			                        	<div class="controls">
			                           		{{ form.origin_contact_email() }}
	                                        {% for error in form.origin_contact_email.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Phone</label>
			                        	<div class="controls">
			                           		+1 ({{ form.origin_contact_phone_area_code(size=3, class='input-mini') }})-{{ form.origin_contact_phone_prefix(size=3, class='input-mini') }}-{{ form.origin_contact_phone_line_number(size=4, class='input-mini') }}
          									{% for error in form.origin_contact_phone_area_code.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
          									{% for error in form.origin_contact_phone_prefix.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                           		{% for error in form.origin_contact_phone_line_number.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                	</div> 
		                	</div>
		            	</div>
		         	</div>
		         	<div class="span6">
		        		<div class="box">
		            		<div class="box-title">
		                		Destination
		            		</div>
		            		<div class="box-content nopadding">
			                	<div class="form-horizontal">
			                    	<div class="control-group">
			                        	<label class="control-label">Address 1</label>
			                        	<div class="controls">
			                           		{{ form.destination_address1(size=50) }}
	                                        {% for error in form.destination_address1.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Address 2</label>
			                        	<div class="controls">
			                           		{{ form.destination_address2(size=50) }}
	                                        {% for error in form.destination_address2.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">City</label>
			                        	<div class="controls">
			                           		{{ form.destination_city(size=50) }}
	                                        {% for error in form.destination_city.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">State</label>
			                        	<div class="controls">
			                           		{{ form.destination_state(size=50) }}
	                                        {% for error in form.destination_state.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Zip</label>
			                        	<div class="controls">
			                           		{{ form.destination_postal_code(size=10) }}
	                                        {% for error in form.destination_postal_code.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Delivery Date</label>
			                        	<div class="controls">
			                           		{{ form.delivery_date() }}
	                                        {% for error in form.delivery_date.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Name</label>
			                        	<div class="controls">
			                           		{{ form.destination_contact_name() }}
	                                        {% for error in form.destination_contact_name.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Email</label>
			                        	<div class="controls">
			                           		{{ form.destination_contact_email() }}
	                                        {% for error in form.destination_contact_email.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Contact Phone</label>
			                        	<div class="controls">
			                           		+1 ({{ form.destination_contact_phone_area_code(size=3, class='input-mini') }})-{{ form.destination_contact_phone_prefix(size=3, class='input-mini') }}-{{ form.destination_contact_phone_line_number(size=4, class='input-mini') }}
          									{% for error in form.destination_contact_phone_area_code.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
          									{% for error in form.destination_contact_phone_prefix.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                           		{% for error in form.destination_contact_phone_line_number.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                	</div> 
		                	</div>
		            	</div>
		         	</div>
		        </div>
		        <div class="row-fluid">
		    		<div class="span12">
		        		<div class="box">
		            		<div class="box-title">
		                		Load Details
		            		</div>
		            		<div class="box-content nopadding">
			                	<div class="form-horizontal">
			                    	<div class="control-group">
			                        	<label class="control-label">Description</label>
			                        	<div class="controls">
			                           		{{ form.description(size=250) }}
	                                        {% for error in form.description.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Purchase order</label>
			                        	<div class="controls">
			                           		{{ form.purchase_order() }}
	                                        {% for error in form.purchase_order.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Over Dimensional?</label>
			                        	<div class="controls">
			                           		{{ form.over_dimensional() }}
	                                        {% for error in form.over_dimensional.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Weight</label>
			                        	<div class="controls">
			                           		{{ form.weight(size=50) }}
	                                        {% for error in form.weight.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Length</label>
			                        	<div class="controls">
			                           		{{ form.dim_length(size=50) }}
	                                        {% for error in form.dim_length.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Width</label>
			                        	<div class="controls">
			                           		{{ form.dim_width(size=50) }}
	                                        {% for error in form.dim_width.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Height</label>
			                        	<div class="controls">
			                           		{{ form.dim_height(size=50) }}
	                                        {% for error in form.dim_height.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Number of pieces</label>
			                        	<div class="controls">
			                           		{{ form.number_pieces(size=50) }}
	                                        {% for error in form.number_pieces.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Comments</label>
			                        	<div class="controls">
			                           		{{ form.comments(size=500) }}
	                                        {% for error in form.comments.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Trailer Type</label>
			                        	<div class="controls">
			                           		{{ form.trailer_type() }}
	                                        {% for error in form.trailer_type.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Load Type</label>
			                        	<div class="controls">
			                           		{{ form.load_type() }}
	                                        {% for error in form.load_type.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Total Miles</label>
			                        	<div class="controls">
			                           		{{ form.total_miles(size=500) }}
	                                        {% for error in form.total_miles.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="control-group">
			                        	<label class="control-label">Total Price</label>
			                        	<div class="controls">
			                           		{{ form.price() }}
	                                        {% for error in form.price.errors %}
            									<span style="color: red;">[{{ error }}]</span>
          									{% endfor %}
			                        	</div>
			                    	</div>
			                    	<div class="form-actions">
			                        	<input type="submit" class="btn btn-primary" value="Save" />
			                        	<a href="{{ url_for('load.view', load_id=load.id) }}" class="btn">Cancel</a>
			                    	</div>
			                    </div>
		                	</div>
		            	</div>
		         	</div>         
		        </div>
		    </div> 
		</div>
	</div>
</form>

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

{% endblock %}