{% extends "layout.html" %}


{% block content %}
<!-- start: PAGE CONTENT -->
	<div class="row">
		<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<form role="form" action="" method="post" class="smart-wizard form-horizontal" id="form">
				{{ form.hidden_tag() }}
				<div id="wizard" class="swMain">
					<ul>
						<li>
							<a href="#step-1">
								<div class="stepNumber">
									1
								</div>
								<span class="stepDesc"> Load Details
									<br />
									<small>General Information</small> </span>
							</a>
						</li>
						<li>
							<a href="#step-2">
								<div class="stepNumber">
									2
								</div>
								<span class="stepDesc"> Location Details
									<br />
									<small>Input Picks &amp; Drops</small> </span>
							</a>
						</li>
						<li>
							<a href="#step-3">
								<div class="stepNumber">
									3
								</div>
								<span class="stepDesc"> Shipment Details
									<br />
									<small>Location &amp; BOL Details</small> </span>
							</a>
						</li>
						{#<li>
							<a href="#step-4">
								<div class="stepNumber">
									4
								</div>
								<span class="stepDesc"> Assign Truck
									<br />
									<small>Assign a Truck</small> </span>
							</a>
						</li>#}
					</ul>
					<div class="progress progress-striped active progress-sm">
						<div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
							<span class="sr-only"> 0% Complete (success)</span>
						</div>
					</div>
					<div id="step-1">
						<h2 class="StepTitle">Load Details</h2>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Load # <span class="symbol required"></span>
								
							</label>
							<div class="col-sm-7">
								{{ form.name(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Load Type <span class="symbol required"></span>
								
							</label>
							<div class="col-sm-7">
								{{ form.load_type(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Required Trailer <span class="symbol required"></span>
								
							</label>
							<div class="col-sm-7">
								{{ form.trailer_type(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Total Miles <span class="symbol required"></span>
								
							</label>
							<div class="col-sm-7">
								{{ form.total_miles(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Max Weight (lbs) <span class="symbol required"></span>
								
							</label>
							<div class="col-sm-7">
								{{ form.max_weight(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Over Dimensional
							</label>
							<div class="col-sm-7">
								<div class="checkbox">
									<label>
										{{ form.over_dimensional(class='grey') }}
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Max Length <span class="symbol required"></span>
								
						        
							</label>
							<div class="col-sm-4">
								{{ form.max_length(class='form-control') }}
							</div>
							<div class="col-sm-3">
								{{ form.max_length_type(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Max Width <span class="symbol required"></span>
							</label>
							<div class="col-sm-4">
								{{ form.max_width(class='form-control') }}
							</div>
							<div class="col-sm-3">
								{{ form.max_width_type(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Max Height <span class="symbol required"></span>
								
						        
							</label>
							<div class="col-sm-4">
								{{ form.max_height(class='form-control') }}
							</div>
							<div class="col-sm-3">
								{{ form.max_height_type(class='form-control') }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-8">
								<button class="btn btn-blue next-step btn-block">
									Next <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</div>
					</div>
					<div id="step-2">
						<h2 class="StepTitle">Location Details</h2>
						<div class="row">
							<div class="col-md-12 space20">
								<button class="btn btn-green add-row">
									Add New <i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped table-hover" id="sample_2">
								<thead>
									<tr>
										<th>Stop #</th>
										<th>Location Type <span class="symbol required"></span></th>
										<th>Address <span class="symbol required"></span></th>
										<th>City <span class="symbol required"></span></th>
										<th>State <span class="symbol required"></span></th>
										<th>Zip <span class="symbol required"></span></th>
										<th>Arrival Date <span class="symbol required"></span></th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									{% for location in form.locations %}
										<tr>
											<td>{{ location.stop_number(class="form-control stop-number") }} {{ loop.index}}</td>
											<td>{{ location.stop_type(class="form-control") }}</td>
											<td>{{ location.address1(class="form-control") }}</td>
											<td>{{ location.city(class="form-control") }}</td>
											<td>{{ location.state(class="form-control") }}</td>
											<td>{{ location.postal_code(class="form-control") }}</td>
											<td><input type="text" id="locations-{{ loop.index - 1 }}-arrival_date" name="locations-{{ loop.index - 1 }}-arrival_date" data-date-format="mm-dd-yyyy" data-date-viewmode="years" class="form-control date-picker" value="{{ location.arrival_date.data }}"></td>
											<td><a class="delete-row" href="">Delete</a></td>
										</tr>
									{% endfor %}
									<!--- Content created by table-data.js -->
								</tbody>
							</table>
						</div>
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-3">
								<button class="btn btn-light-grey back-step btn-block">
									<i class="fa fa-circle-arrow-left"></i> Back
								</button>
							</div>
							<div class="col-sm-2 col-sm-offset-3">
								<button class="btn btn-blue populate-locations next-step btn-block">
									Next <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</div>
					</div>
					<div id="step-3">
						<h2 class="StepTitle">Shipment Details</h2>
						<div class="container">
							<div id="location-container">
								{% for location in form.locations %}
									<div id="wrapper-{{ loop.index - 1 }}" >
										<input type="hidden" id="locations-{{ loop.index - 1 }}-retired" name="locations-{{ loop.index - 1 }}-retired" class="form-control" value="0">
										
										<div class="row bol-0-info">
											<div clas="col-sm-12">
												<div class="panel panel-default">
													<div class="panel-heading">
														<i class="clip-menu"></i>
														<span id="locations-{{ loop.index - 1 }}-address">{{ location.city.data }}, {{ location.state.data }} {{ location.postal_code.data }}	</span>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="col-sm-12">
																<h3>General Info</h3>
																<div class="row">
																	<div class="col-sm-6">
																		<div class="form-group">
																			<label class="col-sm-3 control-label">
																				Contact Name <span class="symbol required"></span>
																			</label>
																			<div class="col-sm-7">
																				{{ location.contact_name(class='form-control') }}
																			</div>
																		</div>
																		<div class="form-group">
																			<label class="col-sm-3 control-label">
																				Contact Phone <span class="symbol required"></span>
																			</label>
																			<div class="col-sm-7">
																				{{ location.contact_phone(class='form-control input-mask-phone') }}
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-6">
																		<div class="form-group">
																			<label class="col-sm-3 control-label">
																				Location Notes
																			</label>
																			<div class="col-sm-7">
																				{{ location.notes(class='form-control') }}
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<div id="locations-{{ loop.index - 1 }}-bol-wrapper" class="location-bols">
																	{% set loc_index = loop.index - 1 %}
																	{% set num_bols = location.BOLs|count %}
																	{% for bol in location.BOLs %}
																	
																		<div class="locations-{{ loc_index }}-bol bol-wrapper">
																			<div class="row">
																				<div class="col-sm-12">
																					<h4 class="bol-header">BOL #{{ loc_index}}-{{ loop.index - 1 }}</h4>
																					{% if num_bols > 1 %}
																						<button class="btn btn-danger remove-bol-button" id="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-remove" style="">Remove BOL</button>
																					{% else %}
																						<button class="btn btn-danger remove-bol-button" id="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-remove" style="display:none;">Remove BOL</button>
																					{% endif %}
																					<input type="hidden" id="locations-{{ loc_index }}-BOLS-{{ loop.index - 1 }}-retired" name="locations-{{ loc_index }}-BOLS-{{ loop.index - 1 }}-retired" class="form-control retire-bol-input" value="0">
																					<input type="hidden" id="{{ loop.index - 1 }}-id" name="bol-id" class="form-control bol_id" value="{{ loop.index }}">
																				</div>
																			</div>
																			<hr />
																			<div class="row">
																				<div class="col-sm-6">
																					<div class="form-group">
																						<label class="col-sm-3 control-label">
																							BOL # <span class="symbol required"></span>
																						</label>
																						<div class="col-sm-7">
																							{{ bol.bol_number(class='form-control bol-number pickup-number') }}
																						</div>
																					</div>
																					{% if location.stop_type.data == "Pickup" %}
																						<div class="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-hide-details">
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									# Units <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.number_units(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									Weight <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.weight(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									Commodity Type <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.commodity_type(class='form-control') }}
																								</div>
																							</div>
																						</div>
																					{% else %}
																						<div class="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-hide-details" style="display:none;">
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									# Units <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.number_units(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									Weight <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.weight(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-3 control-label">
																									Commodity Type <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-7">
																									{{ bol.commodity_type(class='form-control') }}
																								</div>
																							</div>
																						</div>
																					{% endif %}
																				</div>
																				{% if location.stop_type.data == "Pickup" %}
																					<div class="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-hide-details">
																						<div class="col-sm-6">
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Length <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_length(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_length_type(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Width <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_width(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_width_type(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Height <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_height(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_height_type(class='form-control') }}
																								</div>
																							</div>
																						</div>
																					</div>
																				{% else %}
																					<div class="locations-{{ loc_index }}-BOLs-{{ loop.index - 1 }}-hide-details" style="display:none;">
																						<div class="col-sm-6">
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Length <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_length(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_length_type(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Width <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_width(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_width_type(class='form-control') }}
																								</div>
																							</div>
																							<div class="form-group">
																								<label class="col-sm-4 control-label">
																									Height <span class="symbol required"></span>
																								</label>
																								<div class="col-sm-3">
																									{{ bol.dim_height(class='form-control') }}
																								</div>
																								<div class="col-sm-4">
																									{{ bol.dim_height_type(class='form-control') }}
																								</div>
																							</div>
																						</div>
																					</div>
																				{% endif %}
																			</div>
																		</div>
																	{% endfor %}
																</div>
															</div>
														</div>
														<div class="row text-center">
															<button class="btn btn-primary add_button" id="{{ loop.index - 1 }}">Add Another BOL</button>
														</div>
													</div>
												</div>
											</div>
										</div>	
									</div>
								{% endfor %}
							</div>
						</div>
						<hr />
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-3">
								<button class="btn btn-light-grey back-step btn-block">
									<i class="fa fa-circle-arrow-left"></i> Back
								</button>
							</div>
							<div class="col-sm-2 col-sm-offset-3">
								{#<button class="btn btn-blue next-step btn-block">
									Next <i class="fa fa-arrow-circle-right"></i>
								</button>#}
								<button type="submit" class="btn btn-success finish-step btn-block">
									Finish <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</div>
					</div>
					{#<div id="step-4">
						<h2 class="StepTitle">Step 4 Content</h2>
						
						<div class="form-group">
							<label class="col-sm-3 control-label">
								Max Width <span class="symbol required"></span>
								
						        
							</label>
							<div class="col-sm-4">
								<input class="form-control" id="max_width" name="max_width" placeholder="Max Width" type="text" value="">
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="max_width_type" name="max_width_type"><option value="">&lt;none selected&gt;</option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-8">
								<button type="submit" class="btn btn-success finish-step btn-block">
									Finish <i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>
						</div>
					</div>#}
				</div>
			</form>
			<!-- end: FORM WIZARD PANEL -->
			<div id="location-template" style="display: none;">
				<div id="wrapper-__LOC_INDEX__" >
					<input type="hidden" id="locations-__LOC_INDEX__-retired" name="locations-__LOC_INDEX__-retired" class="form-control" value="0">
					
					<div class="row bol-0-info">
						<div clas="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<i class="clip-menu"></i>
									<span id="locations-__LOC_INDEX__-address">	</span>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-12">
											<h3>General Info</h3>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Contact Name <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-__LOC_INDEX__-contact_name" name="locations-__LOC_INDEX__-contact_name" class="form-control" value="">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Contact Phone <span class="symbol required"></span>
														</label>
														<div class="col-sm-7">
															<input type="text" id="locations-__LOC_INDEX__-contact_phone" name="locations-__LOC_INDEX__-contact_phone" class="form-control input-mask-phone" value="">
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-3 control-label">
															Location Notes
														</label>
														<div class="col-sm-7">
															<textarea id="locations-__LOC_INDEX__-notes" name="locations-__LOC_INDEX__-notes" class="form-control" value=""></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div id="locations-__LOC_INDEX__-bol-wrapper" class="location-bols">
												
											</div>
										</div>
									</div>
									<div class="row text-center">
										<button class="btn btn-primary" id="__LOC_INDEX__">Add Another BOL</button>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div id="bol-pickup-template" style="display:none;">
				<div class="locations-__LOC_INDEX__-bol bol-wrapper">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="bol-header">BOL #__BOL_NUMBER__</h4>
							<button class="btn btn-danger remove-bol-button" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-remove" style="display:none;">Remove BOL</button>
							<input type="hidden" id="locations-__LOC_INDEX__-BOLS-__BOL_INDEX__-retired" name="locations-__LOC_INDEX__-BOLS-__BOL_INDEX__-retired" class="form-control retire-bol-input" value="0">
							<input type="hidden" id="__BOL_INDEX__-id" name="bol-id" class="form-control bol_id" value="__BOL_NUMBER__">
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">
									BOL # <span class="symbol required"></span>
								</label>
								<div class="col-sm-7">
									<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-bol_number" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-bol_number" class="form-control bol-number" data-rule-required="true" value="">
								</div>
							</div>
							<div class="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-hide-details">
								<div class="form-group">
									<label class="col-sm-3 control-label">
										# Units <span class="symbol required"></span>
									</label>
									<div class="col-sm-7">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-number_units" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-number_units" class="form-control" data-rule-required="true" value="">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">
										Weight <span class="symbol required"></span>
									</label>
									<div class="col-sm-7">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-weight" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-weight" class="form-control" data-rule-required="true" value="">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">
										Commodity Type <span class="symbol required"></span>
									</label>
									<div class="col-sm-7">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-commodity_type" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-commodity_type" class="form-control" data-rule-required="true" value="">
									</div>
								</div>
							</div>
						</div>
						<div class="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-hide-details">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label">
										Length <span class="symbol required"></span>
									</label>
									<div class="col-sm-3">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_length" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_length" class="form-control" value="">
									</div>
									<div class="col-sm-4">
										<select class="form-control" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_length_type" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_length_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">
										Width <span class="symbol required"></span>
									</label>
									<div class="col-sm-3">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_width" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_width" class="form-control" value="">
									</div>
									<div class="col-sm-4">
										<select class="form-control" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_width_type" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_width_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">
										Height <span class="symbol required"></span>
									</label>
									<div class="col-sm-3">
										<input type="text" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_height" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_height" class="form-control" value="">
									</div>
									<div class="col-sm-4">
										<select class="form-control" id="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_height_type" name="locations-__LOC_INDEX__-BOLs-__BOL_INDEX__-dim_height_type"><option value=""></option><option value="Inches">in.</option><option value="Centimeters">cm.</option></select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end: PAGE CONTENT-->
	<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script src="{{ static('backend/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ static('backend/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
		<script src="{{ static('backend/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
		<script src="{{ static('backend/js/load-wizard.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/DataTables/media/js/DT_bootstrap.js') }}"></script>
		<script src="{{ static('backend/js/table-data.js') }}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

	<script>

		$( document ).on( "focus", "input.date-picker", function() {
				$('.date-picker').datepicker({
			            autoclose: true,
			            format: "mm/dd/yyyy",
						minDate: 0
			        });
			});

		$(".populate-locations").mousedown(function(e){ //on add input button click
				var rows = $("#sample_2 tbody tr").length;
				if(rows < 2) {
					alert("You must add a pickup & drop off location.")
				}
				$('#sample_2 tbody tr').each(function(i) {
					//alert(i);

					if($('#wrapper-' + i).length) {
						//alert($('#locations-' + i + '-retired').val());
						//if($('#locations-' + i + '-retired').val() == "1") {
						//	$('#wrapper-' + i).hide();
						//}
						if($('#locations-' + i + '-stop_type').val() != "Pickup") {
							$('.locations-' + i +'-bol').each(function(index) {
								$('.locations-' + i + '-BOLs-' + index + '-hide-details').hide();
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').removeClass('pickup-bol');
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').addClass('dropoff-bol');
								$('.locations-' + i + '-BOLs-' + index + '-number_units').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-weight').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-commodity_type').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_length').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_length_type').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_width').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_width_type').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_height').data('rule-required',false);
								$('#locations-' + i + '-BOLs-' + index + '-dim_height_type').data('rule-required',false);
							});
						} else {
							$('.locations-' + i +'-bol').each(function(index) {
								$('.locations-' + i + '-BOLs-' + index + '-hide-details').show();
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').removeClass('dropoff-bol');
								$('#locations-' + i + '-BOLs-' + index + '-bol_number').addClass('pickup-bol');
								$('.locations-' + i + '-BOLs-' + index + '-number_units').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-weight').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-commodity_type').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_length').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_length_type').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_width').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_width_type').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_height').data('rule-required',true);
								$('#locations-' + i + '-BOLs-' + index + '-dim_height_type').data('rule-required',true);
							});
						}
					}
					else if(!$(this).is(':hidden'))	{
						var newRow = $('#location-template').html().replace(/__LOC_INDEX__/g, i);
						//get template, replace applicable indexes
						
						//add location to screen
						$('#location-container').append(newRow);

						// add bol to location
						var newBOL = $('#bol-pickup-template').html().replace(/__LOC_INDEX__/g, i).replace(/__BOL_INDEX__/g, 0).replace(/__BOL_NUMBER__/g, 1);
						$('#locations-' + i + '-bol-wrapper').append(newBOL);
						$('#' + i).addClass('add_button');
						if($('#locations-' + i + '-stop_type').val() != "Pickup") {
							$('.locations-' + i + '-BOLs-0-hide-details').hide();
							$('#locations-' + i + '-BOLs-0-bol_number').addClass('dropoff-bol');
						} else {
							$('#locations-' + i + '-BOLs-0-bol_number').addClass('pickup-bol');
						}

						//Set location title
						$('#locations-' + i + '-address').text($('#locations-' + i + '-address1').val() + ", " + $('#locations-' + i + '-city').val() + ", " + $('#locations-' + i + '-state').val() + " " + $('#locations-' + i + '-postal_code').val() + " - " + $('#locations-' + i + '-stop_type').val());
					}
				});
	        });
		$( document ).on( 'click', '.add_button', function(e) {
			e.preventDefault();
			var countHidden = 0;
			var firstNotHidden = $('#locations-' + e.target.id + '-bol-wrapper').children('.bol-wrapper').length;
			$('#locations-' + e.target.id + '-bol-wrapper').children('.bol-wrapper').each(function(e) {
				if($(this).closest('.bol-wrapper').is(':hidden')) {
					countHidden += 1;
				} else if(e < firstNotHidden) {
					firstNotHidden = e;
				}
			});
			var newBOL = $('#bol-pickup-template').html().replace(/__LOC_INDEX__/g, e.target.id).replace(/__BOL_INDEX__/g, $('.locations-' + e.target.id + '-bol').length).replace(/__BOL_NUMBER__/g, $('.locations-' + e.target.id + '-bol').length + 1 - countHidden);
			var showBOL = $('.locations-' + e.target.id + '-bol').length;
		   	$('#locations-' + e.target.id + '-bol-wrapper').append(newBOL);
		   	if($('#locations-' + e.target.id + '-stop_type').val() != "Pickup") {
				$('.locations-' + e.target.id + '-BOLs-' + ($('.locations-' + e.target.id + '-bol').length - 1) + '-hide-details').hide();
				$('#locations-' + e.target.id + '-BOLs-' + ($('.locations-' + e.target.id + '-bol').length - 1) + '-bol_number').addClass('dropoff-bol');
			} else {
				$('#locations-' + e.target.id + '-BOLs-' + ($('.locations-' + e.target.id + '-bol').length - 1) + '-bol_number').addClass('pickup-bol');
			}
		   	$('#locations-' + e.target.id + '-BOLs-' + showBOL + '-remove').show();
		   	var numBOLs = $('.locations-' + e.target.id + '-bol').length;
			if(numBOLs - countHidden > 1) {
				//alert($('#locations-' + e.target.id + '-BOLs-0-remove').html());
				$('#locations-' + e.target.id + '-BOLs-' + firstNotHidden + '-remove').show();
				
			} else if (numBOLs == 1) {
				$('#locations-' + e.target.id + '-BOLs-' + firstNotHidden + '-remove').hide();
				
			}
		});
		

		$( document ).on( 'click', '.remove-bol-button', function(e) {
			e.preventDefault();
			
			var hidden = $(this).closest('.bol-wrapper');
			var hiddenID = hidden.find('.bol_id').val();
			var countHidden = 0;
		   	$(this).closest('.location-bols').children('.bol-wrapper').each(function(index) {
		   		if($(this).html() == hidden.html()) {
		   			$(this).closest('.bol-wrapper').hide();
		   			$(this).find('.retire-bol-input').val("1");
		   		} else if ($(this).find('.bol_id').val() > hiddenID) {
		   			var thisID = $(this).find('.bol_id').val();
		   			$(this).find('.bol-header').text('BOL #' + (thisID - 1));
		   			$(this).find('.bol_id').val(thisID - 1);
		   		}
		   		if($(this).closest('.bol-wrapper').is(':hidden')) {
		   			countHidden += 1;
		   		}
		   	});
		   	if(countHidden + 1 == $(this).closest('.location-bols').children('.bol-wrapper').length) {
		   		$(this).closest('.location-bols').children('.bol-wrapper').each(function(index) {
			   		if(!$(this).closest('.bol-wrapper').is(':hidden')) {
			   			$(this).closest('.bol-wrapper').find('.remove-bol-button').hide();
			   		} 
		   		});
		   	}
		});
		
	</script>
{% endblock %}