{# 

TODO: 

ADD NOTES! 
Add supplemental load details (include a supplemental cost)

Add field to indicate if dispatcher has required permits??

Is truck/driver an owner-operator?
	if yes - upload permits to website and e-mail to trucker?

Do we need to track hours of service for trucks?

sms/email of load details upon assignment

SMS/Email/dial-in based driver logs (on duty/off duty) and/or load status

Loads local to a driver

Create a favorite load
Recurring loads
notification system of new loads and recommending drivers
	# axels
	shape of trailer
	type of trailer

prepare/send invoices

Directions to location

upload signed load confirmation

indicate a load as been paid?

integrate with quicken

payment processing to owner operator drivers

#}

{% extends "layout_map.html" %}

{% block content %}

	<div class="row-fluid">
	    <div class="col-sm-12">
	    	<div class="row">
	    		<div class="col-sm-6">
	        		<div class="panel panel-default">
	            		<div class="panel-heading">
	                		Map
	            		</div>
	            		<div class="panel-body">
		                	<div id="map-canvas" style="height: 400px; margin: 0; padding: 0;"></div>
		                	<hr>
		                	<form name="status" action="" role="form" class="form-horizontal" id="form" method="post">
		                		{{ status_form.hidden_tag() }}
			                	<table class="table table-bordered table-hover table-condensed" id="sample-table-1">
				                    <thead>
				                        <tr>
				                            <th>Details</th>
				                            <th>Address</th>
				                            <th>Arrival Date</th>
				                            <th>Status</th>
				                        </tr>
				                    </thead>
				                    <tbody>
				                        {% for location in locations %}
				                            <tr>
				                            	<td><a href="#">View</a></td>
				                            	<td>{{ location.address.address1 }}<br />{{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}</td>
				                            	<td>{{ location.arrival_date }}</td>
				                            	<td>
				                            		<input type="hidden" id="location_status-{{ loop.index }}-stop_number" name="location_status-{{ loop.index }}-stop_number" class="form-control" value="{{ location.stop_number }}">

				                            		<select id="location_status-{{ loop.index }}-status" name="location_status-{{ loop.index }}-status" class="form-control location-type" value="">
															<option value="{{ location.status }}">{{ location.status }}</option>
															<option value="Arrived">Arrived</option>
															<option value="Loaded">Loaded</option>
															<option value="Departed">Departed</option>
													</select>
												</td>
				                            </tr>
				                        {% endfor %}
				                    </tbody>
				                </table>
				                <div class="form-group">
									<div class="col-sm-5 col-sm-offset-7">
										<button type="submit" class="btn btn-success btn-block">
											Update Status <i class="fa fa-arrow-circle-right"></i>
										</button>
									</div>
								</div>
							</form>
	                	</div>
	            	</div>
	         	</div>
	         		{# {% if user.is_carrier() and load.broker != user %}
	         		<div class="col-sm-6">
		        		<div class="panel panel-default">
		        			<div class="panel-heading">
		                		Bid
		            		</div>
		            		<div class="panel-body">
		            				{% if most_recent_bid is not none %}
		            					<div class="form-horizontal">
			                    			<div class="control-group">
												<label class="control-label">Bid</label>
					                        	<div class="controls">
					                           		${{ most_recent_bid.value }}
					                        	</div>
					                        	<label class="control-label">Status</label>
					                        	<div class="controls">
					                           		{% if load.status == "Pending Truck Assignment" or load.status == "Assigned" %}
					                        			Accepted
					                        		{% else %}
					                        			Pending Acceptance
					                        		{% endif %}
					                        	</div>
											</div>
										</div>
		            				{% else %}
			            				<form name="edit" action="{{ url_for('loads.bid', load_id=load.id, company_name=load.broker.company_name) }}" method="post" class="form-horizontal">
			            					{{ bid_form.hidden_tag() }}
			            					<div class="form-horizontal">
				                    			<div class="control-group">
													<label class="control-label">Bid</label>
						                        	<div class="controls">
						                           		${{ bid_form.value(size=8) }} 
						                           		<input type="submit" class="btn btn-success btn-mini success" value="Place Bid" /> <a href="{{ url_for('loads.reject', load_id=load.id, company_name=load.broker.company_name) }}" class="btn btn-danger btn-mini danger">Reject Load</a>
				                                        {% for error in form.value.errors %}
						 									<span style="color: red;">[{{ error }}]</span>
			          									{% endfor %}
						                        	</div>
												</div>
											</div>
										</form>
									{% endif %}
								</div>
							</div>
						</div>
					{% endif %} #}
	         		{% if load.carrier is not none  %}
	         			<div class="col-sm-6">
			        		<div class="panel panel-default">
			            		<div class="panel-heading">
			                		{% if user.is_carrier() %}
			                			Assigned Truck/Driver
			                		{% else %}
			                			Assigned Carrier
			                		{% endif %}
			            		</div>
			            		<table id="truck" class="table table-condensed">
									<tbody>
				               			{% if not user.is_carrier() %}
					                    	<tr>
												<td><b>Carrier:</b></td>
												<td>{{ load.carrier.company_name }}</td>
											</tr>
											<tr>
												<td><b>Carrier Fee:</b></td>
												<td>{{ load.carrier_cost }}</td>
											</tr>
					                    {% else %}
					                    	<tr>
												<td><b>Amount:</b></td>
												<td>{{ load.carrier_cost }}</td>
											</tr>
				                		{% endif %}
				                	
					                	{% if load.assigned_driver is not none %}
						                    <tr>
												<td><b>Truck:</b></td>
												<td><a href="{{ url_for('trucks.view', truck_id=load.assigned_driver.truck.id) }}">{{ load.assigned_driver.truck.name }}</a></td>
											</tr>
											<tr>
												<td><b>Driver:</b></td>
												<td><a href="{{ url_for('drivers.view', driver_id=load.assigned_driver.truck.id) }}">{{ load.assigned_driver.get_full_name() }}</a></td>
											</tr>
						                {% else %}
						                	<tr>
												<td><b>Truck:</b></td>
												<td>To be assigned</td>
											</tr>
						               	{% endif %}
					                </tbody>
								</table>
				               
		                	</div>
		            	</div>
					{% endif %}
					{% if is_dispatch and load.assigned_driver is none %}
						<div class="col-sm-6">
			        		{#<div class="panel panel-default">
			        			<div class="panel-heading">
			                		Filter
			            		</div>
			            		<div class="panel-body">
			       
										Radius from origin - 50, 100, 150, 200, 250
								</div>
							</div>#}
							<div class="panel panel-default">
			            		<div class="panel-heading">
			                		Nearby Carriers
			            		</div>
			            		<div class="panel-body">
			            			<table id="datatable" class="table table-striped table-bordered">
			            				<thead>
			            					<tr>
			            						<th>Truck</th>
			            						<th>Driver</th>
			            						{% if not is_dispatch %}
			            							<th>Quote</th>
			            						{% endif %}
			            						<th>&nbsp</th>
			            					</tr>
			 							</thead>
			 							<tbody>
			 								{% if not is_dispatch %}
			 									{% for bid in offered_bids %}
			 										<tr class="odd gradeX">
				 										<td>1</td>
				 										<td>{{ bid.offered_by.email }}</td>			
				 										<td>{{ bid.value }}</td>
				 										<td>
			       			 								<a href="{{ url_for('loads.assign', load_id=load.id, assign_id=bid.offered_by.company_name)}}" onclick="return confirm("Assign this carrier to this load?")text" class="btn btn-success btn-mini success">Assign</a>
			                                        	</td>
				 									</tr>
			 									{% endfor %}
			 									{% for bid in requested_bids %}
			 										<tr class="odd gradeX">
				 										<td>{{ bid.offered_to.email }}</td>
				 										<td></td>
				 										<td></td>
				 										<td>
			       			 								Requested Bid
			                                        	</td>
				 									</tr>
			 									{% endfor %}
			 									{% for carrier in carriers %}
			 										<tr class="odd gradeX">
				 										<td>{{ carrier.company_name }}</td>
				 										<td><a href="{{ url_for('carrier.view', truck_id=carrier.id) }}">{{ carrier.company_name }}</a></td>
				 										<td></td>
				 										<td>
			       			 								<a href="{{ url_for('loads.bid', load_id=load.id, company_name=carrier.company_name)}}" class="btn btn-success btn-mini success">Request Bid</a>
			                                        	</td>
				 									</tr>
				 								{% endfor %}
			 									{% for bid in rejected_bids %}
			 										<tr class="odd gradeX">
				 										<td>{{ bid.offered_by.email }}</td>
				 										<td>N/a</td>
				 										<td>
			       			 								Rejected Bid
			                                        	</td>
				 									</tr>
			 									{% endfor %}
			 								{% else %}
				 								{% for carrier in carriers %}
				 								<tr class="odd gradeX">
				 									<td><a href="{{ url_for('trucks.view', truck_id=carrier.id) }}">{{ carrier.name }}</a></td>
				 									<td>
				 											{% if carrier.driver is none %}
				 												Unassigned
				 											{% else %}
				 												<a href="{{ url_for('drivers.view', driver_id=carrier.driver.id) }}">{{ carrier.driver.get_full_name() }}</a>
				 											{% endif %}
				 									</td>
				 									{% if not is_dispatch %}
				 										<td>{{ bid.value }}</td>
				 									{% endif %}
				 									
				 									<td>
				 										{% if is_dispatch and load.assigned_driver is none %}
			       			 								<a href="{{ url_for('loads.assign', load_id=load.id, assign_id=carrier.id)}}" onclick="return confirm("Assign this carrier to this load?")text" class="btn btn-success btn-mini success">Assign</a>
			       			 							{% endif %}
			                                        </td>
				 								</tr>
				 								{% endfor %}
				 							{% endif %}
			 							</tbody>
			            			</table>
			                	</div>
			            	</div>
			         	</div>
	         		{% endif %}
	        	</div>
		    </div>
	    </div> 
	</div>
</div>

{% include "partials/main_javascripts.html" %}

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  {#<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>#}
	<script>
		$(document).ready(function() {
	    	$('#datatable').dataTable( {
	    		"oLanguage": {
	    			"sEmptyTable": "No applicable trucks for this load"
	    		}
	    	});
	    });
	</script>


{% endblock %}