{% extends "layout_map.html" %}

{% block content %}

<div class="row">
	<div class="col-sm-6">
		<div class="panel-group" id="accordion">
			{% for location in load.lane.locations %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						{% if location.status_history[-1].status != "Departed" %}
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
						{% else %}
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
						{% endif %}
							<i class="icon-arrow"></i>
							{{ location.address.address1 }}, {{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }} 
						</a></h4>
					</div>
					{% if location.status_history[-1].status != "Departed" %}
					<div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
					{% else %}
					<div id="collapse{{ loop.index }}" class="panel-collapse collapse">
					{% endif %}
						<div class="panel-body">
							<!--<div id="wizard" class="swMain">
								<ul>
									<li>
										<a href="#step-1">
											<div class="stepNumber">
												1
											</div>
											<span class="stepDesc"> Step 1
												<br />
												<small>Step 1 description</small> </span>
										</a>
									</li>
									<li>
										<a href="#step-2">
											<div class="stepNumber">
												2
											</div>
											<span class="stepDesc"> Step 2
												<br />
												<small>Step 2 description</small> </span>
										</a>
									</li>
									<li>
										<a href="#step-3">
											<div class="stepNumber">
												3
											</div>
											<span class="stepDesc"> Step 3
												<br />
												<small>Step 3 description</small> </span>
										</a>
									</li>
									<li>
										<a href="#step-4">
											<div class="stepNumber">
												4
											</div>
											<span class="stepDesc"> Step 4
												<br />
												<small>Step 4 description</small> </span>
										</a>
									</li>
								</ul>
								<div id="step-1">
									
								</div>
								<div id="step-2">
									
								</div>
								<div id="step-3">
									
								</div>
								<div id="step-4">
								
								</div>
							</div>-->
							<!-- RETAIN COMMENTS! --IMPORTANT! -->
							<ol class="progtrckr" data-progtrckr-steps="5">
								{% if location.status_history[-1].status == "en Route" %}
								    <li class="progtrckr-done">En Route</li><!--
								 --><li class="progtrckr-todo">Arrived</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">Departed</li>
								 {% elif location.status_history[-1].status == "Arrived" %}
								 	<li class="progtrckr-done">En Route</li><!--
								 --><li class="progtrckr-done">Arrived</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">Departed</li>
								 {% elif location.status_history[-1].status == "Loading" %}
								 	<li class="progtrckr-done">En Route</li><!--
								 --><li class="progtrckr-done">Arrived</li><!--
								 --><li class="progtrckr-done">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">Departed</li>
								 {% elif location.status_history[-1].status == "Loaded/Unloaded" %}
								 	<li class="progtrckr-done">En Route</li><!--
								 --><li class="progtrckr-done">Arrived</li><!--
								 --><li class="progtrckr-done">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-done">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">Departed</li>
								 {% elif location.status_history[-1].status == "Departed" %}
								 	<li class="progtrckr-done">En Route</li><!--
								 --><li class="progtrckr-done">Arrived</li><!--
								 --><li class="progtrckr-done">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-done">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-done">Departed</li>
								 {% else %}
								 	<li class="progtrckr-todo">En Route</li><!--
								 --><li class="progtrckr-todo">Arrived</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loading
								 		{% else %}
								 			Unloading
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">
								 		{% if location.type == "Pickup" or location.type == "Both" %}
								 			Loaded
								 		{% else %}
								 			Unloaded
								 		{% endif %}
								 	</li><!--
								 --><li class="progtrckr-todo">Departed</li>
								 {% endif %}
							</ol>
							<hr />
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th colspan="2">Location Details</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Status</td>
										<td>{{ location.status_history[-1].status }}</td>
									</tr>
									<tr>
										<td>Arrival Date</td>
										<td>{{ location.arrival_date }}</td>
									</tr>
									<tr>
										<td>Type</td>
										<td>{{ location.type }}</td>
									</tr>
									
									{% if location.type == "Pickup" %}
									<tr>
										<td>Pickup Weight</td>
										<td>{{ location.pickup_details.weight }}</td>
									</tr>
									<tr>
										<td>Notes</td>
										<td>{{ location.pickup_details.notes }}</td>
									</tr>
									{% else %}
									<tr>
										<td>Delivery Weight</td>
										<td>{{ location.delivery_details.weight }}</td>
									</tr>
									<tr>
										<td>Notes</td>
										<td>{{ location.delivery_details.notes }}</td>
									</tr>
									{% endif %}

								</tbody>
							</table>

							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th colspan="2">Location Contact</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Name</td>
										<td>{{ location.contact.name }}</td>
									</tr>
									<tr>
										<td>Phone Number</td>
										<td>{{ location.contact.phone }}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{{ location.contact.email }}</td>
									</tr>
								</tbody>
							</table>


						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
    		<div class="panel-heading">
        		Map
    		</div>
    		<div class="panel-body">
            	<div id="map-canvas" style="height: 400px; margin: 0; padding: 0;"></div>
            </div>
        	<table class="table table-striped table-hover table-condensed" id="sample-table-1">
                <thead>
                    <tr>
                        <th>Stop #</th>
                        <th>Address</th>
                        <th>Arrival Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                        <!--<th>Status</th>-->
                    </tr>
                </thead>
                <tbody>
                	{% if load.lane.locations.count() < 1 %}
                		<tr>
                			<td colspan="5" class="text-center">No Location Information Saved</td>
                		</tr>
                	{% else %}
                    	{% for location in locations|sort(attribute="stop_number") %}
                            <tr>
                            	<!--<td><a href="#responsive-{{ loop.index }}" data-toggle="modal">View</a></td>-->
                            	<td>{{ loop.index }}</td>
                            	<td>{{ location.address.address1 }}<br />{{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}</td>
                            	<td>{{ location.arrival_date }}</td>
                            	<td>{{ location.status }}</td>
                            	<td><a href="{{ url_for('.edit_location', load_id=load.id, location_id=location.id) }}">Edit</a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('.delete_location', load_id=load.id, location_id=location.id) }}">Delete</a>
                            	<!--<td>
                            		<input type="hidden" id="location_status-{{ loop.index }}-location_id" name="location_status-{{ loop.index }}-location_id" class="form-control" value="{{ location.id }}">

                            		<select id="location_status-{{ loop.index }}-status" name="location_status-{{ loop.index }}-status" class="form-control location-type" value="">
                            			{% if location.status is none %}
											<option value="Pending Arrival">Pending Arrival</option>
										{% else %}
											<option value="{{ location.status }}">{{ location.status }}</option>
										{% endif %}
										{% if location.status != "Arrived" %}
											<option value="Arrived">Arrived</option>
										{% endif %}
										{% if location.status != "Loaded" %}
											<option value="Loaded">Loaded</option>
										{% endif %}
										{% if location.status != "Departed" %}
											<option value="Departed">Departed</option>
										{% endif %}
									</select>
								</td>-->
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Load Details
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4">

						{% if load.truck is not none %}
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th colspan="2">Truck</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><b>Name:</b></td>
										<td><a href="{{ url_for('trucks.view', truck_id=load.truck.id) }}">{{ load.truck.name }}</a></td>
									</tr>
									<tr>
										<td><b>Driver:</b></td>
										<td><a href="{{ url_for('drivers.view', driver_id=load.truck.driver.id) }}">{{ load.truck.driver.get_full_name() }}</a></td>
									</tr>
									<tr>
										<td><b>Amount:</b></td>
										<td>{{ load.price }}</td>
									</tr>
								</tbody>
							</table>
				    	{% else %}
				    		<table class="table table-striped table-condensed">
		        				<thead>
		        					<tr>
		        						<th>Truck</th>
		        						<th>Driver</th>
		        						{% if not is_dispatch %}
		        							<th>Quote</th>
		        						{% endif %}
		        						<th>&nbsp</th>
		        					</tr>
									</thead>
									<tbody>
										{% if carriers|length == 0 %}
										<tr>
											<td colspan="3">There are no trucks available for this load</td>
										</tr>
										{% else %}
		 								{% for carrier in carriers %}
		 								<tr class="odd gradeX">
		 									<td><a href="{{ url_for('trucks.view', truck_id=carrier.id) }}">{{ carrier.name }}</a></td>
		 									<td>
		 											{% if carrier.driver is none %}
		 												Unassigned
		 											{% else %}
		 												<a href="{{ url_for('drivers.view', driver_id=carrier.driver.id) }}">{{ carrier.driver.get_full_name() }}</a>
		 											{% endif %}
		 									</td>
		 									{% if not is_dispatch %}
		 										<td>{{ bid.value }}</td>
		 									{% endif %}
		 									
		 									<td>
		 										{% if is_dispatch and load.truck is none %}
		   			 								<a href="{{ url_for('loads.assign', load_id=load.id, assign_id=carrier.id)}}" onclick="return confirm("Assign this carrier to this load?")" class="btn btn-success btn-mini success">Assign</a>
		   			 							{% endif %}
		                                    </td>
		 								</tr>
		 								{% endfor %}
		 							{% endif %}
									</tbody>
		        			</table>
				    	{% endif %}
						
					</div>
					<div class="col-sm-4">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th colspan="2">Shipper</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><b>Name:</b></td>
									<td>{{ load.shipper.name }}</td>
								</tr>
								<tr>
									<td><b>Phone:</b></td>
									<td>{{ load.shipper.phone }}</td>
								</tr>
								<tr>
									<td><b>Email:</b></td>
									<td>{{ load.shipper.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-4">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th colspan="2">Broker</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><b>Name:</b></td>
									<td>{{ load.broker.name }}</td>
								</tr>
								<tr>
									<td><b>Phone:</b></td>
									<td>{{ load.broker.phone }}</td>
								</tr>
								<tr>
									<td><b>Email:</b></td>
									<td>{{ load.broker.email }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function ping_driver(truckID) {
    $.post('/trucks/ping/'+truckID)
	.done(function(translated) {
       	alert(translated['message']);
    }).fail(function() {
        alert('failed');
    });
}
</script>

	<script src="{{ static('backend/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
	<script src="{{ static('backend/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script>
	<script src="{{ static('backend/js/form-wizard.js') }}"></script>
	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script>
		jQuery(document).ready(function() {
			FormWizard.init();
		});

	</script>


{% endblock %}