{% extends "layout.html" %}

{% block content %}
<form name="create" action="" role="form" class="form-horizontal" id="form" method="post">
	{{ form.hidden_tag() }}
	<div id="form-container">
		<!-- start: PAGE CONTENT -->
		<div class="col-sm-12">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-external-link-square"></i>
						General
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-sm-3 control-label">
										Bid Value ($) <span class="symbol required"></span>
									</label>
									<div class="col-sm-7">
										{{ form.value(class="form-control") }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<hr>
				<div class="form-group">
					<div class="col-sm-2 col-sm-offset-3">
						<button class="btn btn-light-grey back-step btn-block">
							<i class="fa fa-circle-arrow-left"></i> Back
						</button>
					</div>
					<div class="col-sm-2 col-sm-offset-3">
						<button type="submit" class="btn btn-success btn-block">
							Finish <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

<script src="{{ static('backend/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
		<script>
		$( document ).on( "focus", "input.date-picker", function() {
				$('.date-picker').datepicker({
			            autoclose: true,
			            format: "mm/dd/yyyy",
						minDate: 0
			        });
			});

		$( document).on("change", ".location-type", function() {
				if ($(this).val() == "Pickup") {
					$('#pickup').css("display", "");
					$('#delivery').css("display", "none");
					$('#delivery_weight').val("");
					$('#delivery_notes').val("");
				} else if ($(this).val() == "Drop Off") {
					$('#pickup').css("display", "none");
					$('#pickup_weight').val("");
					$('#pickup_notes').val("");
					$('#delivery').css("display", "");
				} else if ($(this).val() == "Both") {
					$('#pickup').css("display", "");
					$('#delivery').css("display", "");
				} else {
					$('#pickup').css("display", "none");
					$('#pickup_weight').val("");
					$('#pickup_notes').val("");
					$('#delivery').css("display", "none");
					$('#delivery_weight').val("");
					$('#delivery_notes').val("");
				}
			});
		</script>
				{% endblock %}
