


<!doctype html>

<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
        <title>{{ title }}</title>
        <!-- start: META -->
        <meta charset="utf-8" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- end: META -->
        <!-- start: MAIN CSS -->
        <link rel="stylesheet" href="{{ static('backend/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static('backend/plugins/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ static('backend/fonts/style.css') }}">
        <link rel="stylesheet" href="{{ static('backend/css/main.css') }}">
        <link rel="stylesheet" href="{{ static('backend/css/main-responsive.css') }}">
        <link rel="stylesheet" href="{{ static('backend/plugins/iCheck/skins/all.css') }}">
        <link rel="stylesheet" href="{{ static('backend/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
        <link rel="stylesheet" href="{{ static('backend/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ static('backend/css/theme_light.css') }}" type="text/css" id="skin_color">
        <link rel="stylesheet" href="{{ static('backend/css/print.css') }}" type="text/css" media="print"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ static('backend/plugins/select2/select2.css') }}" />
        <link rel="stylesheet" href="{{ static('backend/plugins/DataTables/media/css/DT_bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ static('backend/plugins/datepicker/css/datepicker.css') }}">
        <link rel="stylesheet" href="{{ static('backend/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}"  type="text/css"/>
        <link rel="stylesheet" href="{{ static('backend/plugins/bootstrap-modal/css/bootstrap-modal.css') }}"  type="text/css"/>
        <!--[if IE 7]>
        {#<link rel="stylesheet" href="{{ static('backend/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">#}
        <![endif]-->
        <!-- end: MAIN CSS -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

        
    </head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="login example1">
  <div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
          {% if location is not none %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i>&nbsp;Current Stop | Load #4555456
                </div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-sm-12">
                        <p>Use the dropdown to select your current trip status</p>
                        <form name="status_update" method="post" class="">
                          <div class="col-sm-8">
                                {{ form.status(class="form-control") }}
                            </div>
                          <div class="col-sm-4">
                              <button type="submit" class="btn btn-blue next-step btn-block">
                                  Update Status</i>
                                </button>
                          </div>
                        </form>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>Location Details</h4>
                  <table class="table table-condensed">
                        <thead>
                          <tr>
                              <th>Location Type</th>
                              <th>Address</th>
                              <th>Arrival Date/Time</th>
                              <th>Receiver Name</th>
                              <th>Receiver Contact #</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if location.pickup_details is not none %}
                              <tr>
                                  <td>Pick Up</td>
                                  <td>{{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}</td>
                                  <td>{{ location.arrival_date }}</td>
                                  <td>{{ location.contact.name }}</td>
                                  <td>{{ location.contact.phone }}</td>
                              </tr>
                          {% endif %}
                          {% if location.delivery_details is not none %}
                              <tr>
                                  <td>Drop Off</td>
                                  <td>{{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}</td>
                                  <td>{{ location.arrival_date }}</td>
                                  <td>{{ location.contact.name }}</td>
                                  <td>{{ location.contact.phone }}</td>
                              </tr>
                          {% endif %}
                        </tbody>
                    </table>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Status History</h4>
                  {% if location.status_history.count() > 0 %}
                      <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                              <th>Status Date / Time</th>
                              <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in location.status_history|sort(attribute="created_on") %}
                              <tr>
                                <td>{{ status.created_on }}</td>
                                <td>{{ status.status }}</td>
                              </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  </div>
                </div>
            </div>
          </div>
          {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i>&nbsp;Current Stop | N/a
                </div>
                <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                          <p>Your truck is now idle. Please contact dispatch for a new load.</p>

                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}
        </div>
    </div>
  </div>


  <script src="{{ static('backend/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
      <!--<![endif]-->
      <script src="{{ static('backend/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
      <script src="{{ static('backend/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ static('backend/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
      <script src="{{ static('backend/plugins/blockUI/jquery.blockUI.js') }}"></script>
      <script src="{{ static('backend/plugins/iCheck/jquery.icheck.min.js') }}"></script>
      <script src="{{ static('backend/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
      <script src="{{ static('backend/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
      <script src="{{ static('backend/plugins/less/less-1.5.0.min.js') }}"></script>
      <script src="{{ static('backend/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
      <script src="{{ static('backend/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
      <script src="{{ static('backend/js/main.js') }}"></script>

      <script>
      function locate() {
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            alert(position.coords.longitude);
            $.post('./storelocation/{{ truck.id }}', {
              long: position.coords.longitude,
              lat: position.coords.latitude
            }).done(function(translated) {
              alert(translated['message']);
            $('#message').text(translated['message']);
              $('#message').show();
            }).fail(function(translated) {
              alert(translated['message']);
                $('#error').show();
            });
          }, function() {
            handleNoGeolocation(true);
          });
            
        }
        else {
          $('#error').show();
        }
      }

      // A $( document ).ready() block.
      $( document ).ready(function() {
          locate();
      });

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      </script>
</body>

</html>

