{% extends "layout.html" %}

{% block content %}
	<div class="container-fluid" id="container">
		<div class="row-fluid">
			<div class="box">
				<div class="box-title">
					Actions: &nbsp;&nbsp;<a href="{{ url_for('carrier.edit_truck', truck_id=truck.id) }}" class="btn btn-primary">Edit</a>
				</div>
			</div>
		</div>


		
		<div class="row-fluid">
		    <div class="span6">
        		<div class="box">
            		<div class="box-title">
                		Truck
            		</div>
            		<div class="box-content nopadding">
	                	<div class="form-horizontal">
	                    	<div class="control-group">
	                        	<label class="control-label">Name</label>
	                        	<div class="controls">
	                           		<p>{{truck.name }}</p>
	                        	</div>
	                    	</div>             	
	                    	<div class="control-group">
	                        	<label class="control-label">Trailer Type</label>
	                        	<div class="controls">
	                           		<p>{{truck.trailer_type }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="control-group">
	                        	<label class="control-label">Max Weight</label>
	                        	<div class="controls">
	                           		<p>{{truck.max_weight }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="control-group">
	                        	<label class="control-label">Length</label>
	                        	<div class="controls">
	                           		<p>{{truck.dim_length }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="control-group">
	                        	<label class="control-label">Width</label>
	                        	<div class="controls">
	                           		<p>{{truck.dim_width }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="control-group">
	                        	<label class="control-label">Height</label>
	                        	<div class="controls">
	                           		<p>{{truck.dim_height }}</p>
	                        	</div>
	                    	</div>
	                	</div> 
                	</div>
            	</div>
			</div>
			<div class="span6">
        		<div class="box">
            		<div class="box-title">
	                	Driver
                	</div>

                	{% if truck.driver is not none %}
            		<div class="box-content nopadding">
	                	<div class="form-horizontal">
	                    	<div class="control-group">
	                        	<label class="control-label">Name</label>
	                        	<div class="controls">
	                           		<p>{{ truck.driver.get_full_name() }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="control-group">
	                        	<label class="control-label">Phone</label>
	                        	<div class="controls">
	                           		<p>{{ truck.driver.get_phone_number() }}</p>
	                        	</div>
	                    	</div>
	                    	<div class="form-actions">
	                    		<button type="button" onclick="location.href='{{ url_for('carrier.remove', driver_id=truck.driver.id)}}'" class="btn btn-warning">Remove Driver</button>
	                    	</div>
	                	</div> 
                	</div>
                	{% else %}
                	<div class="box-content nopadding">
                		<form name="assign" action="{{ url_for('carrier.assign') }}" method="post" class="form-horizontal">
	                		<div class="form-horizontal">
	                    		<div class="control-group">
	                        		<label class="control-label">Assign Driver:</label>
	                        		<div class="controls">
	                        		
	                           			{{ form.hidden_tag() }}
                                        {{ form.truck(value=truck.id, type='hidden') }}
                                        {{ form.driver()}}
                                       
                                    
	                        		</div>
	                        	</div>
	                        	<div class="form-actions">
			                        <input type="submit" class="btn btn-primary" value="Save" />
			                       	<a href="{{ url_for('load.all') }}" class="btn">Cancel</a>
			                    </div>
	                    	</div>
	                	</form> 
                	</div>
                	{% endif %}
            	</div>
			</div>
		</div>

{% endblock %}