{% extends "layout.html" %}

{% block content %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-condensed" id="sample-table-1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Truck</th>
                            <th>&nbsp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in drivers %}
                            <tr>
                                <td>{{ driver.get_full_name() }}</td>
                                <td>{{ driver.email }}</td>
                                <td>{{ driver.get_phone_number() }}</td>
                                <td>
                                    {% if driver.truck is not none %}
                                        {{ driver.truck.name }}
                                    {% else %}
                                        N/a
                                    {% endif %}
                                <td>
                                    <a href="{{ url_for('drivers.view', driver_id=driver.id) }}" class="btn btn-primary btn-mini">View</a>

                                    <a href="{{ url_for('drivers.edit', driver_id=driver.id)}}" class="btn btn-primary btn-mini">Edit</a>
                                    
                                    <a href="{{ url_for('drivers.delete', driver_id=driver.id)}}" class="btn btn-danger btn-mini delete" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

    {% endblock %}