

{% extends "layout.html" %}

{% block content %}
<form name="create" action="" method="post" class="form-horizontal">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					Create Driver
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							First Name<span class="symbol required"></span>

					          {% for error in form.first_name.errors %}
					            <br><span style="color: red;">{{ error }}</span>
					          {% endfor %}
						</label>
						<div class="col-sm-9">
							{{ form.first_name(size=50, placeholder="First Name", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Last Name<span class="symbol required"></span>
							{% for error in form.last_name.errors %}
					            <br><span style="color: red;">{{ error }}</span>
					          {% endfor %}
						</label>
						<div class="col-sm-9">
							{{ form.last_name(size=50, placeholder="Last Name", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Email<span class="symbol required"></span>
							{% for error in form.email.errors %}
					            <br><span style="color: red;">{{ error }}</span>
					          {% endfor %}
						</label>
						<div class="col-sm-9">
							{{ form.email(size=50, placeholder="Email", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">
							Phone<span class="symbol required"></span> <small class="text-warning">(999) 999-9999</small>
						</label>
						<div class="col-sm-9">
							{{ form.phone_number(class='input-mask-phone form-control') }}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<a class="btn btn-light-grey back-step btn-block" href="javascript:history.back()">
								<i class="fa fa-circle-arrow-left"></i> Cancel
							</a>
						</div>
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" class="btn btn-blue next-step btn-block">
								Submit <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</div>
	        	</div>
	        </div>
     	</div>
	</div>
</form>

{% endblock %}
