

{% extends "layout.html" %}

{% block content %}
<form name="create" action="" method="post" class="form-horizontal">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-external-link-square"></i>
					Edit Driver
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							First Name
						</label>
						<div class="col-sm-9">
							{{ form.first_name(size=50, placeholder="First Name", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Last Name
						</label>
						<div class="col-sm-9">
							{{ form.last_name(size=50, placeholder="Last Name", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Email
						</label>
						<div class="col-sm-9">
							{{ form.email(size=50, placeholder="Email", class="form-control") }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="origin_address1">
							Phone Number
						</label>
						<div class="col-sm-9">
							+1 ({{ form.phone_area_code(size=3, class='input-mini') }})-{{ form.phone_prefix(size=3, class='input-mini') }}-{{ form.phone_line_number(size=4, class='input-mini') }}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button class="btn btn-light-grey back-step btn-block" href="{{ url_for('drivers.all') }}">
								<i class="fa fa-circle-arrow-left"></i> Cancel
							</button>
						</div>
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" class="btn btn-blue next-step btn-block">
								Submit <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
					</div>
	        	</div>
	        </div>
     	</div>
	</div>
</form>

{% include "partials/main_javascripts.html" %}

{% endblock %}
