{% extends "layout.html" %}

{% block content %}

	<div class="col-sm-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Driver
			</div>
			<table id="driver" class="table table-condensed">
				<tbody>
					<tr>
						<td><b>Driver Type:</b></td>
						<td>{{ driver.driver_type }}
					</tr>
					<tr>
						<td><b>First Name:</b></td>
						<td>{{ driver.first_name }}
					</tr>
					<tr>
						<td><b>Last Name:</b></td>
						<td>{{ driver.last_name }}
					</tr>
					<tr>
						<td><b>Email:</b></td>
						<td>{{ driver.email }}
					</tr>
					<tr>
						<td><b>Phone Number:</b></td>
						<td>{{ driver.get_phone_number() }}
					</tr>
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}