{% extends "layout.html" %}

{% block content %}
		<div class="row-fluid">
			<div class="box">
				<div class="box-title">
					Actions: &nbsp;&nbsp;<a href="{{ url_for('drivers.edit', driver_id=driver.id) }}" class="btn btn-primary">Edit</a>
				</div>
			</div>
		</div>

	<div class="col-sm-12">
    	<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-external-link-square"></i>
				Driver
			</div>
			<table id="driver" class="table table-condensed">
				<tbody>
					<tr>
						<td><b>First Name:</b></td>
						<td>{{ driver.first_name }}
					</tr>
					<tr>
						<td><b>Last Name:</b></td>
						<td>{{ driver.last_name }}
					</tr>
					<tr>
						<td><b>Phone Number:</b></td>
						<td>{{ driver.get_phone_number() }}
					</tr>
				</tbody>
			</table>
		</div>
	</div>

		
{% endblock %}