{% extends "layout_view_fleet.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Map
                </div>
                <div class="panel-body">
                    <div id="map-canvas" style="height: 400px; margin: 0; padding: 0;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-group-horizontal text-center">
          <li class="list-group-item col-sm-2"><p class="lead">{{ unnasigned }}<br />Unnassigned</p></li>
          <li class="list-group-item col-sm-2"><p class="lead">{{ at_origin }}<br />At Origin</p></li>
          <li class="list-group-item col-sm-2"><p class="lead">{{ in_transit }}<br />In Transit</p></li>
          <li class="list-group-item col-sm-2"><p class="lead">{{ at_destination }}<br />At Destination</p></li>
          <li class="list-group-item col-sm-2"><p class="lead">{{ delivered }}<br />Delivered</p></li>
          <li class="list-group-item col-sm-2"><p class="lead">{{ invoiced }}<br />Invoiced</p></li>
        </ul>
    </div>
    <div class="row">&nbsp;</div>
    <!--<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Loads
                </div>
                {% include 'partials/load_board.html' %}
            </div>
        </div>
    </div>-->
    
            {% endblock %}