<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-condensed" id="sample-table-1">
        <thead>
            <tr>
                <th>Load #</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Driver</th>
                <th>Status</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for load in loads %}
                <tr>
                    <td><a href="{{ url_for('loads.view', load_id=load.id) }}">{{ load.name }}</a></td>
                    {% if load.lane.locations.count() > 0 %}
                        <td>{{ load.lane.locations[0].address.city }}, {{ load.lane.locations[0].address.state }} {{ load.lane.locations[0].address.postal_code }}</td>
                        <td>{{ load.lane.locations[-1].address.city }}, {{ load.lane.locations[-1].address.state }} {{ load.lane.locations[-1].address.postal_code }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                    <td>
                        {% if load.truck is none %}
                            Unassigned
                        {% else %}
                            <a href="{{ url_for('drivers.view', driver_id=load.truck.driver.id) }}">{{ load.truck.driver.get_full_name() }}
                        {% endif %}
                    </td>
                    <td>{{ load.status }}</td>
                    <td>
                        {% if load.created_by.id != g.user.company.id and load.status == "Pending Carrier Assignment" %}
                            <a href="{{ url_for('loads.create_bid', load_id=load.id) }}" class="btn btn-primary btn-mini ">Create Bid</a>
                        {% else %}
                            {% if g.user.company.is_carrier() %}
                                {% if load.status == "Invoiced" %}
                                    <a href="{{ url_for('loads.complete', load_id=load.id) }}" class="btn btn-primary btn-mini ">Complete</a>
                                {% elif load.status == "Delivered" %}
                                    <a href="{{ url_for('loads.invoice', load_id=load.id) }}" class="btn btn-primary btn-mini ">Invoiced</a>
                                {% endif %}
                                {% if load.getStatus != "Complete" and load.status != "Invoiced" %}
                                    <a href="{{ url_for('loads.edit', load_id=load.id)}}" class="btn btn-primary btn-mini">Edit</a>
                                
                                    <a href="{{ url_for('loads.delete', load_id=load.id)}}" class="btn btn-danger btn-mini delete" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                                {% endif %}
                            {% else %}
                                {% if load.status == "Pending Carrier Assignment" %}
                                    <a href="{{ url_for('loads.view_bids', load_id=load.id) }}" class="btn btn-primary btn-mini ">View Bids <span class="badge">{{ load.bids|count }}</span></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>