<!-- start: PAGE HEADER -->

					<div class="row">
						<div class="col-sm-12">
							<!-- start: PAGE TITLE & BREADCRUMB -->
							<div class="page-header">
								<div class="row">
									<div class="col-sm-4 text-left">
										<h1>{{ title }}</h1>
									</div>
									<div class="col-sm-9 text-left">
										{% if load is defined %}
											{% if edit %}
												<a class="btn btn-light-grey back-step " href="javascript:history.back()">
													<i class="fa fa-circle-arrow-left"></i> Cancel
												</a>
												<label for="submit" class="btn btn-primary">Submit</label>
											{% endif %}

											<a href="{{ url_for('loads.edit', load_id=load.id) }}" class="btn btn-primary">Edit</a>
											
											
											{% if load.assigned_driver is not none %}
												<div class="dropdown">
												  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												    Actions
												    <span class="caret"></span>
												  </button>
												  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												    <li><a href="{{ url_for('.add_location', load_id=load.id) }}" class="new-modal btn btn-green">
															Add Location <i class="fa fa-plus"></i>
														</a></li>
												    <li><a href="javascript:ping_driver({{ load.assigned_driver.truck.id }});" class="new-modal btn btn-green">Ping Driver</a></li>
												  </ul>
												</div>
												
											{% endif %}
										{% endif %}
										{% if truck is defined %}
											{% if edit %}
												<a class="btn btn-light-grey back-step " href="javascript:history.back()">
													<i class="fa fa-circle-arrow-left"></i> Cancel
												</a>
												<label for="submit" class="btn btn-primary">Submit</label>
											{% endif %}
											<a href="{{ url_for('trucks.edit', truck_id=truck.id) }}" class="btn btn-primary">Edit</a>
										{% endif %}
										{% if driver is defined %}
											{% if edit %}
												<a class="btn btn-light-grey back-step " href="javascript:history.back()">
													<i class="fa fa-circle-arrow-left"></i> Cancel
												</a>
												<label for="submit" class="btn btn-primary">Submit</label>
											{% endif %}
											<a href="{{ url_for('drivers.edit', driver_id=driver.id) }}" class="btn btn-primary">Edit</a>
										{% endif %}
									</div>
								</div>
							</div>

							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->

