<div class="navbar-content">
                <!-- start: SIDEBAR -->
                <div class="main-navigation navbar-collapse collapse">
                    <!-- start: MAIN MENU TOGGLER BUTTON -->
                    <div class="navigation-toggler">
                        <i class="clip-chevron-left"></i>
                        <i class="clip-chevron-right"></i>
                    </div>
                    <!-- end: MAIN MENU TOGGLER BUTTON -->
                    <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu">
                        <li {% if active == "Dashboard" %}class="active open" {% endif%}>
                            <a href="index.html"><i class="clip-home-3"></i>
                                <span class="title"> Dashboard </span><span class="selected"></span>
                            </a>
                        </li>
                        <li {% if active == "Loads" %}class="active open" {% endif%}>
                            <a href="javascript:void(0)"><i class="fa fa-money"></i>
                                <span class="title"> Loads </span><i class="icon-arrow"></i>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ url_for('loads.create') }}">
                                        <span class="title"> New Load </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('loads.all') }}">
                                        <span class="title"> View All </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li {% if active == "Trucks" %}class="active open" {% endif%}>
                            <a href="javascript:void(0)"><i class="fa fa-truck"></i>
                                <span class="title"> Trucks </span><i class="icon-arrow"></i>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ url_for('trucks.create') }}">
                                        <span class="title"> New Truck </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('trucks.all') }}">
                                        <span class="title"> View All </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li {% if active == "Drivers" %}class="active open" {% endif%}>
                            <a href="javascript:void(0)"><i class="clip-users"></i>
                                <span class="title"> Drivers </span><i class="icon-arrow"></i>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{{ url_for('drivers.create') }}">
                                        <span class="title"> New Driver </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('drivers.all') }}">
                                        <span class="title"> View All </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li {% if active == "Fleet" %}class="active open" {% endif%}>
                            <a href="{{ url_for('fleet.view') }}"><i class="fa fa-globe"></i>
                                <span class="title"> Fleet </span>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title"> New Driver </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="layouts_sidebar_closed.html">
                                        <span class="title"> View All </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- end: MAIN NAVIGATION MENU -->
                </div>
                <!-- end: SIDEBAR -->
            </div>