<div class="span3 leftmenu">
    <ul class="nav">
        <li class="active"><a href="index.html"><span class="ico"><i class="icon-home"></i></span><span class="text">Dashboard</span></a></li>
        <li><a href="forms.html"><span class="ico"><i class="icon-edit"></i></span><span class="text">Forms</span></a></li>
        <li><a href="typography.html"><span class="ico"><i class="icon-bold"></i></span><span class="text">Typography</span></a></li>
        <li><a href="tables.html"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Tables</span></a></li>
        <li><a href="charts.html"><span class="ico"><i class="icon-signal"></i></span><span class="text">Charts</span></a></li>
        <li><a href="components.html"><span class="ico"><i class="icon-inbox"></i></span><span class="text">Components</span></a></li>
        <li><a href="interface-elements.html"><span class="ico"><i class="icon-tasks"></i></span><span class="text">Interface elements</span></a></li>                        
        <li><a href="grid.html"><span class="ico"><i class="icon-th"></i></span><span class="text">Grid</span></a></li>
        <li><a href="calendar.html"><span class="ico"><i class="icon-calendar"></i></span><span class="text">Calendar</span></a></li>
        <li>
            <a href="#"><span class="ico"><i class="icon-align-justify"></i></span><span class="text">Submenu test</span><span class="indicator"></span></a>
            <ul>
                <li><a href=""><span class="ico"><i class="icon-tint"></i></span><span class="text">Submenu One</span></a></li>
                <li><a href=""><span class="ico"><i class="icon-leaf"></i></span><span class="text">Submenu Two</span></a></li>
                <li><a href=""><span class="ico"><i class="icon-fire"></i></span><span class="text">Submenu Three</span></a></li>
            </ul>
        </li>
    </ul>
</div>