{% extends "base.html" %}
{% block body %}


	{% if g.user.is_authenticated() and g.user.password is not none %}
		{% include "partials/navbar.html" %}
		<!-- start: MAIN CONTAINER -->
			<div class="main-container">
				{% include "partials/sidebar.html" %}
				<!-- start: PAGE -->
				<div class="main-content">
					<div class="container">
						{% include "partials/page_header.html" %}

						{% with messages = get_flashed_messages() %}
							{% if messages %}
						    	{% for message in messages %}
						    		<div class="alert alert-warning" role="alert">{{ message }}</div>
						    	{% endfor %}
						  	{% endif %}
						{% endwith %}
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
	{% else %}
		{% block login %}{% endblock %}
	{% endif %}


{% endblock %}