{% extends "base_map.html" %}
{% block body %}


{% if user.is_authenticated() and user.password is not none %}
	{% include "partials/navbar.html" %}
	<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			{% include "partials/sidebar.html" %}
			<!-- start: PAGE -->
			<div class="main-content">
				<div class="container">
					{% include "partials/page_header.html" %}

					{% with messages = get_flashed_messages() %}
						{% if messages %}
					    	{% for message in messages %}
					    		<div class="alert alert-warning" role="alert">{{ message }}</div>
					    	{% endfor %}
					  	{% endif %}
					{% endwith %}
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
{% else %}
	{% block login %}{% endblock %}
{% endif %}


	{% for location in load.lane.locations %}
	<div id="responsive-{{ loop.index }}" class="modal fade" tabindex="-1" data-width="840" style="display: none;">
		<div class="modal-header" id="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title">Location Details - {{ location.address.address1 }}, {{ location.address.city }}, {{ location.address.state }} {{ location.address.postal_code }}</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-external-link-square"></i>
							Contact
						</div>
						<table id="truck" class="table table-condensed">
							<tbody>
		                    	<tr>
									<td><b>Name:</b></td>
									<td>{{ location.contact.name }}</td>
								</tr>
								<tr>
									<td><b>Phone:</b></td>
									<td>{{ location.contact.phone }}</td>
								</tr>
								<tr>
									<td><b>Email:</b></td>
									<td>{{ location.contact.email }}</td>
								</tr>
			                </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				{% if location.delivery_details.weight == "" %}
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external-link-square"></i>
								Pickup Details
							</div>
							<table id="truck" class="table table-condensed">
								<tbody>
			                    	<tr>
										<td><b>Weight:</b></td>
										<td>{{ location.pickup_details.weight }}</td>
									</tr>
									<tr>
										<td><b>Notes:</b></td>
										<td>{{ location.pickup_details.notes }}</td>
									</tr>
				                </tbody>
							</table>
						</div>
					</div>
				{% elif location.pickup_details.weight == "" %}
					<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external-link-square"></i>
								Drop Off Details
							</div>
							<table id="truck" class="table table-condensed">
								<tbody>
			                    	<tr>
										<td><b>Weight:</b></td>
										<td>{{ location.delivery_details.weight }}</td>
									</tr>
									<tr>
										<td><b>Notes:</b></td>
										<td>{{ location.delivery_details.notes }}</td>
									</tr>
				                </tbody>
							</table>
						</div>
					</div>
				{% else %}
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external-link-square"></i>
								Pickup Details
							</div>
							<table id="truck" class="table table-condensed">
								<tbody>
			           
				                    	<tr>
											<td><b>Weight:</b></td>
											<td>{{ location.pickup_details.weight }}</td>
										</tr>
										<tr>
											<td><b>Notes:</b></td>
											<td>{{ location.pickup_details.notes }}</td>
										</tr>
				                </tbody>
							</table>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-external-link-square"></i>
								Drop Off Details
							</div>
							<table id="truck" class="table table-condensed">
								<tbody>
			           
				                    	
										<tr>
											<td><b>Weight:</b></td>
											<td>{{ location.delivery_details.weight }}</td>
										</tr>
										<tr>
											<td><b>Notes:</b></td>
											<td>{{ location.delivery_details.notes }}</td>
										</tr>
				                </tbody>
							</table>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="modal-footer">
	   		<input type="hidden" id="locations-{{ loop.index }}-stop_number" name="locations-{{ loop.index }}-stop_number" class="form-control stop-number" value="{{ loop.index }}">
			<button type="button" data-dismiss="modal" class="btn btn-light-grey">
				Close
			</button>
		</div>
	</div>
{% endfor %}

		{#<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ static('backend/plugins/respond.min.js') }}"></script>
		<script src="{{ static('backend/plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ static('backend/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ static('backend/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ static('backend/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ static('backend/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ static('backend/plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ static('backend/plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ static('backend/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ static('backend/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ static('backend/plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ static('backend/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ static('backend/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ static('backend/js/main.js') }}"></script>#}
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="{{ static('backend/plugins/flot/jquery.flot.js') }}"></script>
		<script src="{{ static('backend/plugins/flot/jquery.flot.pie.js') }}"></script>
		<script src="{{ static('backend/plugins/flot/jquery.flot.resize.min.js') }}"></script>
		<script src="{{ static('backend/plugins/jquery.sparkline/jquery.sparkline.js') }}"></script>
		<script src="{{ static('backend/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>
		<script src="{{ static('backend/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
		<script src="{{ static('backend/plugins/fullcalendar/fullcalendar/fullcalendar.js') }}"></script>
		<script src="{{ static('backend/js/index.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/jquery-mockjax/jquery.mockjax.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/select2/select2.min.js') }}"></script>
		<script type="text/javascript" src="{{ static('backend/plugins/DataTables/media/js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ static('backend/js/table-data.js') }}"></script>
		<!--<script src="{{ static('backend/js/form-elements.js') }}"></script>-->

        <script>
            jQuery(document).ready(function() {
                Main.init();
                //FormElements.init();
                FormWizard.init();
                TableData.init();
                UIModals.init();
            });
        </script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

{% endblock %}