<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
<script src="{{ static('backend/plugins/respond.min.js') }}"></script>
<script src="{{ static('backend/plugins/excanvas.min.js') }}"></script>
<script type="text/javascript" src="{{ static('backend/plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="{{ static('backend/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
<!--<![endif]-->
<script src="{{ static('backend/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
<script src="{{ static('backend/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ static('backend/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ static('backend/plugins/blockUI/jquery.blockUI.js') }}"></script>
<script src="{{ static('backend/plugins/iCheck/jquery.icheck.min.js') }}"></script>
<script src="{{ static('backend/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
<script src="{{ static('backend/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
<script src="{{ static('backend/plugins/less/less-1.5.0.min.js') }}"></script>
<script src="{{ static('backend/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<script src="{{ static('backend/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
<script src="{{ static('backend/js/main.js') }}"></script>